<h1>Angular OCR Test with Tesseract.js</h1>
<div><a href="https://github.com/MartyMcFlyJr/ocr-angular-image-tesseract-test" target="_blank" rel="noopener">Github Link</a></div>
<input (change)="addedFile($event)" type="file" />
<select [(ngModel)]="this.language">
  <option *ngFor="let i of this.languageSwitch;" value="{{ i.value }}">{{ i.name }}</option>
</select>
<button *ngIf="this.img" (click)="this.doOCR()">Read Text</button>
<span *ngIf="this.isLoading">Please wait ....</span>
<br />
<hr />
<br />
<div>{{this.responseMessage}}</div>
